<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initialItems.sync="sortedItems" :loading="loading" />
  </div>
</template>

<script>
  const MODULE_NAME = 'routes'
  const crudStore = crudHelper(MODULE_NAME)

  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import ListTable from '../components/ListTable'

  const fields = [
    { label: 'Nome', slug: 'description' },
    { label: 'Fluxo Especial', slug: 'specialFlow' },
    { label: 'Frequência', slug: 'frequency' },
  ]

  const filters = []

  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
        paginationOptions: {}
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        items: 'routes/items',
        // points: 'coordinate/items'
      })
    },
    watch: {
      'items' (newVal) {
        // newVal.forEach(route => {
        //   route.specialFlow = route.specialFlow == 1 ? 'SIM' : ''
        // })
        this.sortedItems = newVal
      },
      deep: true,
      immediate: true
    },
    created() {
      this.find()
      // this.getOptions()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        // findPoints: 'coordinate/find'
      }),
    //   async getOptions() {
    //     await this.findPoints()
    //     if (this.filters.filter(obj => obj.slug === 'pointIni_id').length === 0) {
    //       let options = []
    //       // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
    //       // Ex.: key: 1, label: 'Usuário App'
    //       for (let coordinate in this.points) {
    //         options.push(
    //           Object.assign({}, {
    //             key: this.points[coordinate].id,
    //             label: this.points[coordinate].description
    //           })
    //         )
    //       }
    //       this.filters.push({
    //         slug: 'pointIni_id',
    //         label: 'Coordenada Inicial',
    //         type: 'select',
    //         autocomplete: true,
    //         placeholder: 'Coordenada Inicial',
    //         options: options
    //       })
    //       this.filters.push({
    //         slug: 'pointFin_id',
    //         label: 'Coordenada Final',
    //         type: 'select',
    //         autocomplete: true,
    //         placeholder: 'Coordenada Final',
    //         options: options
    //       })
    //     }
    //     else {
    //       return false
    //     }
    //   }
    }
  }
</script>
