<template>
  <div>
    <app-main/>
  </div>
</template>

<script>
import { AppMain } from './components'
import ResizeMixin from './mixin/ResizeHandler'

export default {
  name: 'Layout',
  components: {
    AppMain
  },
  mixins: [ResizeMixin],
  computed: {
  },
  methods: {
    handleClickOutside() {
      this.$store.dispatch('CloseSideBar', { withoutAnimation: false })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import "src/styles/mixin.scss";
  // .app-wrapper {
  //   @include clearfix;
  //   position: relative;
  //   height: 100%;
  //   width: 100%;
  //   &.mobile.openSidebar{
  //     position: fixed;
  //     top: 0;
  //   }
  // }
  // .sidebar-container{
  //   &.mobile{
  //     max-width: 13%;
  //   }
  // }
  // .main-container{
  //   &.mobile{
  //     width: 92%;
  //     left: 8%;
  //   }
  // }
  // .drawer-bg {
  //   background: #000;
  //   opacity: 0.3;
  //   width: 100%;
  //   top: 0;
  //   height: 100%;
  //   position: absolute;
  //   z-index: 999;
  // }
</style>
