<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
        
        <el-row :gutter="24">
          <el-col :span="18">
            
             <el-row :gutter="24">
               <el-col :span="8">
                  <el-form-item label="Empresa" prop="companyId">
                    <el-select v-model="item.companyId" placeholder="Selecione a empresa" clearable automatic-dropdown >
                      <el-option
                      v-for="company in companies"
                      :key="company.id"
                      :label="company.fantasyName"
                      :value="company.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="12" style="padding-left: 0;">
                  <el-form-item label="Nome do departamento" prop="description">
                    <el-input type="text" v-model="item.description" placeholder="Dê um nome para o departamento" maxlength="45"/>
                  </el-form-item>
                </el-col>
              </el-row>
              
          </el-col>
        </el-row>
        
      </div>
      </el-col>
      
      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        :disabled="!item.companyId || !item.description"
        @click="submit"> Salvar
      </el-button>
      
    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  const MODULE_NAME = 'departments'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    data: () => ({
      MODULE_NAME,
      item: {
        companyId: '',
        description: ''
      },
      rules: {
        description: [
          { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
        ]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        companies: 'companies/items'
      })
    },
    created() {
      this.findCompanies()
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findCompanies: 'companies/find'
      })
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
</style>
