<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="24">
           
           <el-row :gutter="24">
              <el-col :span="8">
                <!-- <el-form-item label="Tipo do sensor" prop="typeId">
                  <el-select v-model="item.typeId" placeholder="Selecione o tipo do sensor" clearable automatic-dropdown filterable >
                    <el-option
                    v-for="tipo in types"
                    :key="tipo.id"
                    :label="tipo.description"
                    :value="tipo.id"
                    />
                  </el-select>
                </el-form-item> -->
              </el-col>
            </el-row>
            
            <el-row :gutter="24">
              <el-col :span="12">
                <el-form-item label="Descrição" prop="description">
                  <el-input maxlength="45" v-model="item.description" placeholder="Nome, Descrição, outros..."/>
                </el-form-item>
              </el-col>
            </el-row>
            
              
          </el-col>
        </el-row>
      </div>
      </el-col>
      
      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        @click="submit"> Salvar
      </el-button>
      
    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  const MODULE_NAME = 'modelDevices'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    data: () => ({
      MODULE_NAME,
      item: {
        // typeId: '',
        description: ''
      },
      rules: {
        // typeId: [
        //   { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
        // ]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        types: 'types/items'
      })
    },
    created() {
      this.findTypes()
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findTypes: 'types/find'
      })
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
</style>
