<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
        <div class="createPost-main-container">
          <el-row :gutter="24">
            <el-col :span="18">

              <el-row :gutter="24">
                <el-row :gutter="24">
                  <el-col :span="8" style="padding-left: 0;">
                    <el-form-item label="Departamento" prop="departmentId">
                      <el-select v-model="item.departmentId" placeholder="Escolha um departamento" clearable automatic-dropdown >
                        <el-option
                          v-for="depto in departments"
                          :key="depto.id"
                          :label="depto.description"
                          :value="depto.id"
                        />
                      </el-select>
                    </el-form-item>
                  </el-col>
                  <el-col :span="8" style="padding-left: 0;">
                    <el-form-item label="Modelo" prop="modeloId">
                      <el-select v-model="item.modeloId" placeholder="Escolha um modelo" clearable automatic-dropdown >
                        <el-option
                          v-for="model in models"
                          :key="model.id"
                          :label="model.description"
                          :value="model.id"
                        />
                      </el-select>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row :gutter="24">
                  <el-col :span="12" style="padding-left: 0;">
                    <el-form-item label="Nº Serial 33Robotics" prop="serialNumber">
                      <el-input v-model="item.description" placeholder="Número serial 33Robotics"/>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row :gutter="24">
                  <el-col :span="6" style="padding-left: 0;">
                    <el-form-item label="Manutenção" prop="inspectionHours">
                      <el-input-number :step="1" :max="24" :precision="0" :min="0" v-model="item.inspectionHours" placeholder="Escolha um horário para a manutenção do robô"/>
                    </el-form-item>
                  </el-col>
                  <el-col :span="6" style="padding-left: 0;">
                    <el-form-item label="Horimetre" prop="horimetre">
                      <el-input-number :step="1" :max="24" :precision="0" :min="0" v-model="item.horimetre" placeholder="Horimetre"/>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-row>

            </el-col>
          </el-row>
        </div>
      </el-col>

      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        :disabled="!item.inspectionHours || !item.horimetre || !item.modelo_id || !item.departmentId"
        style="margin-left: 10px;"
        type="success"
        @click="submit"> Salvar
      </el-button>

    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'historyReads'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      id: '',
      modeloId: '',
      serialNumber: '',
      departmentId: '',
      department_name: '',
      robotId: '',
      robot_modelo: '',
      routeId: '',
      route_name: ''
    },
    rules: {
      description: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      models: 'models/items',
      departments: 'departments/items'
    })
  },
  created() {
    this.find()
    this.findDepartments()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then((item) => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findModels: 'models/find',
      findDepartments: 'departments/find'
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
</style>
