#app {
  .el-menu {
    background-color: $--background-light;
  } // 主体区域 Main container
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  } // 侧边栏 Sidebar container
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow-x: hidden;
    overflow-y: scroll; // top: 50px;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;

      .el-scrollbar__view {
        height: 100%;
      }
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
    .el-menu-item {
      span,
      .svg-icon {
        transition: transform 300ms ease, opacity 50ms linear !important;
      }
    } // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        color: #ffffff !important;
        background-color: $--color-primary-light !important;
        i {
          color: #ffffff !important;
        }
      }
    }

    .el-menu .menu-wrapper .menu-wrapper:last-child {
      border-bottom: $--color-primary .5px solid;
    }

    .is-active>.el-submenu__title {
      color: #ffffff !important;
      background-color: $--color-primary !important;
      i {
        color: #ffffff !important;
      }
    }

    .is-active .router-link-exact-active>.el-menu-item {
      color: #ffffff !important;
      background-color: $--color-primary-light !important;

      span,
      .svg-icon {
        transform: translateX(1rem);
        display: inline-block;
      }
    }

    :not(.router-link-exact-active)>.el-menu-item span,
    :not(.router-link-exact-active)>.el-menu-item .svg-icon {
      transform: translateX(0);
      display: inline-block;
    }

    .nest-menu .is-active.el-menu-item {
      color: #ffffff !important;
      background-color: $--color-primary-light !important;
      span,
      .svg-icon {
        transform: translateX(1rem);
        display: inline-block;
      }
    }

    .is-active {
      & .nest-menu .el-submenu>.el-submenu__title,
      & .el-submenu .el-menu-item {
        min-width: $sideBarWidth !important;
        color: $--color-text-primary !important;
        background-color: $--color-primary !important;
      }

      & .nest-menu .el-submenu>.el-submenu__title,
      & .el-submenu .el-menu-item {
        min-width: $sideBarWidth !important;
        color: $--color-text-primary !important;
        background-color: $--color-primary-light !important;
      }
    }

    .hideSidebar {
      .sidebar-container {
        width: 54px !important;
      }

      .main-container {
        margin-left: 54px;
      }

      .svg-icon {
        margin-right: 0px;
      }

      .submenu-title-noDropdown {
        padding: 0 !important;
        position: relative;

        .el-tooltip {
          padding: 0 !important;
          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-submenu {
        overflow: hidden;

        &>.el-submenu__title {
          padding: 0 !important;
          .svg-icon {
            margin-left: 20px;
          }
        }
      }

      .el-menu--collapse {
        .el-submenu {
          &>.el-submenu__title {
            &>span {
              height: 0;
              width: 0;
              overflow: hidden;
              visibility: hidden;
              display: inline-block;
            }
          }
        }
      }
    }

    .el-menu--collapse .el-menu .el-submenu {
      min-width: $sideBarWidth !important;
    } // 适配移动端, Mobile responsive
    .mobile {
      .main-container {
        margin-left: 0px;
      }
      .sidebar-container {
        transition: transform .28s;
        width: $sideBarWidth !important;
      }
      &.hideSidebar {
        .sidebar-container {
          pointer-events: none;
          transition-duration: 0.3s;
          transform: translate3d(-$sideBarWidth, 0, 0);
        }
      }
    }

    .withoutAnimation {
      .main-container
      .sidebar-container {
        transition: none;
      }
    }
  } // when menu collapsed
  .el-menu--vertical {
    &>.el-menu {
      .svg-icon {
        margin-right: 16px;
      }
    }

    .is-opened {
      .el-menu {
        background-color: $--color-primary-light;
      }
    }

    .nest-menu .el-submenu>.el-submenu__title,
    .el-menu-item {
      &:hover {
        background-color: $--color-primary !important;
      }
    } // the scroll bar appears when the subMenu is too long
    >.el-menu--popup {
      max-height: 100vh;
      overflow-y: auto;

      &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
      }
    }
  }
}
