$--color-primary: goldenrod;
// $--color-primary:#FC0B0C;
$--color-primary-light: lighten( $--color-primary, 20%);
$--color-primary-dark: darken( $--color-primary, 20%);

$--color-success:#00CD97;
$--color-success-light: lighten( $--color-success, 20%);
$--color-success-dark: darken( $--color-success, 20%);

$--color-warning:#F49B31;
$--color-warning-light: lighten( $--color-warning, 20%);
$--color-warning-dark: darken( $--color-warning, 20%);

$--color-danger:#F49B31;
$--color-danger-light: lighten( $--color-danger, 20%);
$--color-danger-dark: darken( $--color-danger, 20%);

$--color-info:#B0B0B0;

$--color-text-primary:#303133;
$--color-text-regular: #606266;
$--color-text-light-1: #909399;
$--color-text-light-2: #C0C4CC;

$--color-border: #DCDFE6;
$--color-border-light-1: #E4E7ED;
$--color-border-light-2: #EBEEF5;
$--color-border-light-3: #F2F6FC;

$--background-base:#F5F7FA;
$--background-light: #ffffff;
$--background-dark: #000000;

$sideBarWidth: 220px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  color-primary: $--color-primary;
  color-primary-light: $--color-primary-light;
  color-primary-dark: $--color-primary-dark;

  color-success: $--color-success;
  color-success-light: $--color-success-light;
  color-success-dark: $--color-success-dark;

  color-warning: $--color-warning;
  color-warning-light: $--color-warning-light;
  color-warning-dark: $--color-warning-dark;

  color-danger: $--color-danger;
  color-danger-light: $--color-danger-light;
  color-danger-dark: $--color-danger-dark;

  color-info: $--color-info;

  color-text-primary: $--color-text-primary;
  color-text-light-1: $--color-text-light-1;
  color-text-light-2: $--color-text-light-2;

  color-border: $--color-border;
  color-border-light-1: $--color-border-light-1;
  color-border-light-2: $--color-border-light-2;
  color-border-light-3: $--color-border-light-3;

  background-base: $--background-base;
  background-light: $--background-light;
  background-dark: $--background-dark;

  sideBarWidth: $sideBarWidth;
}
