<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
        <div class="createPost-main-container">
          <el-row :gutter="24">
            <el-col :span="18">
              
                <el-col :span="16">
                  <el-form-item label="Nome completo" prop="name">
                    <el-input
                      v-model="item.name"
                      maxlength="60"
                      placeholder="Digite o nome completo"
                      autofocus
                    />
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item label="Tipo" prop="personType">
                    <el-select v-model="item.personType">
                      <el-option value="C" label="colaborador" />
                      <el-option value="M" label="coordenador" />
                      <el-option value="I" label="industria" />
                      <el-option value="T" label="teste" />
                      <el-option value="V" label="vendedor" />
                    </el-select>
                  </el-form-item>
                </el-col>
              
                <el-col :span="6">
                  <el-form-item label="CPF" prop="cnpjCpf">
                    <el-input-number
                      :min="1"
                      :max="99999999999"
                      :controls="false"
                      v-model="item.cnpjCpf"
                      placeholder="CPF"
                    />
                  </el-form-item>
                </el-col>
                <el-col :span="10">
                  <el-form-item label="Usuário" prop="userLogin">
                    <el-input
                      v-model="item.userLogin"
                      placeholder="Nome de usuário"
                      maxlength="50" 
                    />
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item label="Senha" prop="password">
                    <el-input show-password v-model="item.password" maxlength="45" placeholder="Senha do usuário"/>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item label="Departamento" prop="departmentId">
                    <el-select
                      v-model="item.departmentId"
                      placeholder="Escolha um departamento"
                      clearable
                      automatic-dropdown
                    >
                      <el-option
                        v-for="depto in departments"
                        :key="depto.id"
                        :label="depto.description"
                        :value="depto.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item>
                    <el-form-item label="CEP" prop="cep">
                      <el-input-number
                        :min="1"
                        :max="99999999"
                        :controls="false"
                        v-model="item.cep"
                        @input.native.capture="consultaCEP()"
                      />
                    </el-form-item>
                  </el-form-item>
                </el-col>
              
                <el-col :span="14">
                  <el-form-item label="Endereço" prop="address" >
                    <el-input v-model="item.address" placeholder="Rua XV de novembro" maxlength="60"/>
                  </el-form-item>
                </el-col>
                <el-col :span="5">
                  <el-form-item label="Nº" prop="number">
                    <el-input-number
                      :min="1"
                      :max="9999999999"
                      :controls="false" v-model="item.number" placeholder="1000"/>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="Complemento" prop="complement" >
                    <el-input v-model="item.complement" maxlength="20" placeholder="casa"/>
                  </el-form-item>
                </el-col>
              
                <el-col :span="11">
                  <el-form-item label="Bairro" prop="district" >
                    <el-input v-model="item.district" maxlength="45" placeholder="Centro"/>
                  </el-form-item>
                </el-col>
                <el-col :span="11">
                  <el-form-item label="Cidade" prop="city" >
                    <el-input v-model="item.city" maxlength="45" placeholder="São Paulo"/>
                  </el-form-item>
                </el-col>
                <el-col :span="2">
                  <el-form-item label="UF" prop="state" maxlength="2">
                    <el-input v-model="item.state" maxlength="2" placeholder="SP"/>
                  </el-form-item>
                </el-col>
              </el-col>
          </el-row>
        </div>
      </el-col>
      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        :disabled="!item.name || !item.cnpjCpf || !item.cep || !item.address || 
        !item.number || !item.district || !item.personType || !item.userLogin || !item.departmentId"
        @click="submit"
      >Salvar</el-button>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import crudHelper from "@/modules/_common/store/crudHelper";
import crudMixin from "@/modules/_common/mixins/crud";

import axios from "axios";

const MODULE_NAME = "people";
const crudStore = crudHelper(MODULE_NAME);

export default {
  name: "Detail",
  data: () => ({
    MODULE_NAME,
    item: {
      name: "",
      userLogin: "",
      cnpjCpf: "",
      cep: "",
      address: "",
      district: "",
      number: "",
      complement: "",
      district: "",
      personType: "",
      city: "",
      state: "",
      departmentId: ""
    },
    pwdType: "password",
    rules: {}
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      departments: "departments/items"
    })
  },
  created() {
    this.findDepartments();
    if (this.$route.params.id) {
      const id = this.$route.params.id;
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .catch(alert);
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findDepartments: "departments/find",
      consultaCEP() {
        if (this.item.cep) {
          if (this.item.cep.toString().length === 8) {
            axios
              .get(`https://viacep.com.br/ws/${this.item.cep}/json/`)
              .then(response => {
                this.item.district = response.data.bairro;
                this.item.address = response.data.logradouro;
                response.data.complemento.length
                  ? (this.item.complement = response.data.complemento)
                  : null;
                this.item.city = response.data.localidade;
                this.item.state = response.data.uf;
              })
              .catch(error => console.log(error));
          }
        }
      }
    })
  }
};
  //   <el-col :span="8">
  //     <el-form-item label="CPF/CNPJ" prop="cnpjCpf">
  //       <div class="el-input">
  //         <the-mask
  //                                   v-model="item.cnpjCpf"
  //           :mask="['###.###.###-##', '##.###.###/####-##']"
  //           placeholder="Ex.: 080.943.765-46"
  //           inputmode="numeric"
  //           pattern="[0-9\.\-\/]*"
  //         />
  //       </div>
  //     </el-form-item>
  //   </el-col>
  //   <el-col :span="8">
  //     <el-form-item label="CEP" prop="cep">
  //       <div class="el-input">
  //         <the-mask
  //                                   v-model="item.cep"
  //           mask="#####-###"
  //           placeholder="Ex.: 80040-120"
  //           inputmode="numeric"
  //           pattern="[0-9\-]*"
  //         />
  //       </div>
  //     </el-form-item>
  // </el-col>
</script>

<style rel="stylesheet/scss" lang="scss">
@import "~@/styles/mixin.scss";
@import "~@/styles/detail.scss";

</style>



