<template>
  <div class="dashboard-container">
    <component :is="currentRole" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import adminDashboard from './admin'

const MODULE_NAME = 'Dashboard'

export default {
  name: 'Dashboard',
  components: { adminDashboard },
  data: () => ({
    MODULE_NAME,
    currentRole: 'adminDashboard',
    item: {
      id: '',
      modeloId: '',
      serialNumber: '',
      departmentId: '',
      department_name: '',
      robotId: '',
      robot_modelo: '',
      routeId: '',
      route_name: ''
    }
  }),
  computed: {
    // ...crudStore.computed,
    ...mapGetters({
      logs: 'historyReads/items'
    })
  },
  created() {
    // this.findDepartments()
    // this.findLogs()
  },
  methods: {
    ...mapActions({
      findDepartments: 'departments/find',
      findLogs: 'historyReads/find'
    })
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
