<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initialItems.sync="sortedItems" :measures.sync="measures" :loading="loading" />
  </div>
</template>

<script>
  const MODULE_NAME = 'types'
  const crudStore = crudHelper(MODULE_NAME)

  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import ListTable from '../components/ListTable'

  const fields = [
    { label: 'Tipo', slug: 'description' },
    { label: 'Mín.', slug: 'measureMinimumAlert' },
    { label: 'Máx.', slug: 'measureMaximumAlert' },
    { label: 'Measure', slug: 'measureId' },
  ]

  const filters = []

  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
        paginationOptions: {}
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        items: 'types/items',
        measures: 'measures/items'
      })
    },
    watch: {
      'items' (newVal) {
        this.sortedItems = newVal
      },
      deep: true,
      immediate: true
    },
    created() {
      this.find()
      this.getOptions()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findMeasures: 'measures/find'
      }),
      async getOptions() {
        await this.findMeasures()
        if (this.filters.filter(obj => obj.slug === 'type').length === 0) {
          let options = []
          // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
          // Ex.: key: 1, label: 'Usuário App'
          for (let tipo in this.measures) {
            options.push(
              Object.assign({}, {
                key: this.measures[tipo].id,
                label: this.measures[tipo].description
              })
            )
          }
          this.filters.push({
            slug: 'type',
            label: 'Tipo da measure',
            type: 'select',
            autocomplete: false,
            placeholder: 'Tipo de measure',
            options: options
          })
        }
        else {
          return false
        }
      }
    }
  }
</script>
