<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
        <div class="createPost-main-container">
          <el-row :gutter="24">
            <el-col :span="18">
              <el-row :gutter="24">
                <el-col :span="18" style="padding-left: 0;">
                  <el-form-item label="Nome da rota" prop="description">
                    <el-input
                      v-model="item.description"
                      placeholder="Dê um nome para a rota"
                      maxlength="45"
                    />
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="24">
                <el-col :span="6">
                  <!-- <el-form-item label="Prioridade" prop="specialFlow">
                    <el-checkbox
                      v-model="item.specialFlow"
                      value="number"
                      label="Imediato"
                      border
                    ></el-checkbox>
                  </el-form-item> -->
                  <el-form-item label="Prioridade" prop="specialFlow">
                    <el-input
                      v-model="item.specialFlow"
                      placeholder="0 ou 1"
                      maxlength="1"
                    />
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="Frequência" prop="frequency">
                    <el-input
                      v-model="item.frequency"
                      placeholder="3x por hora; 15x/dia; etc"
                      maxlength="45"
                    />
                  </el-form-item>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </div>
      </el-col>

      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        :disabled="!item.description || !item.frequency"
        @click="submit"
      >
        Salvar
      </el-button>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import crudHelper from "@/modules/_common/store/crudHelper";
import crudMixin from "@/modules/_common/mixins/crud";

const MODULE_NAME = 'routes'
const crudStore = crudHelper(MODULE_NAME);

export default {
  name: "Detail",
  data: () => ({ //props initialItems
    MODULE_NAME,
    item: {
      description: '',
      specialFlow: 0,
      frequency: ''
    },
    rules: {
      description: [
        { required: true, message: "Campo obrigatório.", trigger: "blur" }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
    }),
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id;
      this.select({ id })        
        .then((item) => Object.assign(this.item, item))
        .catch(alert);
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({}),
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import "~@/styles/detail.scss";
</style>
