<template>
  <div>
  <el-row class="tac">
    <el-col :span="24">
        <!-- :collapse="isCollapse" -->
      <el-menu
        :default-active="$route.path"
        :collapse-transition="false"
        mode="vertical"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <h2 :span="2">Logo 33</br>Robotics</h2>
        <!-- <el-avatar :size="50" :src="circleUrl"></el-avatar> -->
        <div class="sub-title">{{ username }}</div>
        <sidebar-item v-for="route in routes" :key="route.path" :item="route" :base-path="route.path"/>
      </el-menu>
    </el-col>
  </el-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'

export default {
  components: { SidebarItem },
  name: 'HeaderDesktop',
  // props: {
  //   user: String
  // },
  created(){
    console.log(this.username)
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'name'
    ]),
    routes() {
      return this.$router.options.routes
    },
   isCollapse() {
      return !this.sidebar.opened
    },
    username(){
      return name
    }
  },
  data () {
    return {
      activeIndex: '1',
      circleUrl: 'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.el-menu{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left;
  padding: 20px;
  
}

h2 {
  padding: 20px 0 20px 40px;
  color: skyblue;
}
</style>
