<template>
  <div class="Header">
    <!-- <el-menu
        :default-active="$route.path"
        :collapse="isCollapse"
        :collapse-transition="false"
        class="el-menu-vertical"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <h3>33 Robotics</h3>
        <el-avatar :size="50" :src="circleUrl"></el-avatar>
        <div class="sub-title">{{ username }}</div>
        <sidebar-item v-for="route in routes" :key="route.path" :item="route" :base-path="route.path"/>
      </el-menu> -->
    <el-drawer class='drawer'
      title="I am the title"
      :visible.sync="drawer"
      :direction="direction"
      :with-header="false"
      size="50%">
      <el-avatar :size="40" :src="circleUrl"></el-avatar>
      <div class="sub-title">{{ user }}</div>
      <!-- el-button plain circle icon="custom-icon el-icon-user-solid"></el-button -->
      <!--i class="el-icon-user-solid">User</i -->
      <el-menu
        :default-active="$route.path"
        :collapse="isCollapse"
        :collapse-transition="false"
        class="el-menu-vertical"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <h3>33 Robotics</h3>
        <el-avatar :size="50" :src="circleUrl"></el-avatar>
        <div class="sub-title">{{ username }}</div>
        <sidebar-item v-for="route in routes" :key="route.path" :item="route" :base-path="route.path"/>
      </el-menu>
    </el-drawer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'

export default {
  components: { SidebarItem },
  name: 'Header',
  // props: {
  //   user: String
  // },
  created(){
    console.log('HEADER')
  },
  computed: {
    ...mapGetters([
      'sidebar',
      'name'
    ]),
    routes() {
      return this.$router.options.routes
    },
    isCollapse() {
      return !this.sidebar.opened
    },
    username(){
      return name
    }
  },
  data () {
    return {
      activeIndex: '1',
      circleUrl: 'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.el-menu-header {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}</style>
