<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initialItems.sync="sortedItems" :loading="loading" />
  </div>
</template>

<script>
  const MODULE_NAME = 'paths'
  const crudStore = crudHelper(MODULE_NAME)

  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  import ListTable from '../components/ListTable'

  const fields = [
    { label: 'ID', slug: 'id' },
    // { label: 'ID_ROTA', slug: 'routeId' },
    { label: 'Departamento', slug: 'department_name' },
    { label: 'Rota', slug: 'route_name' },
    // { label: 'ID_PONTO', slug: 'pointId' },
    { label: 'Ponto', slug: 'point_name' },
    { label: 'SEQUÊNCIA', slug: 'sequence' },
  ]

  const filters = []

  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
        paginationOptions: {}
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        items: 'paths/items',
        routes: 'routes/items',
        points: 'points/items',
        departments: 'departments/items'
      })
    },
    watch: {
      'items' (newVal) {
        newVal.forEach(path => {
          this.routes.forEach(route => {
            route.id == path.routeId ? path.route_name = route.id + '- ' + route.description : null
          })        
          this.points.forEach(point => {
            if(point.id == path.pointId){
              path.point_name = path.pointId + '- ' + point.description
              this.departments.forEach(department => {
                point.departmentId == department.id ? path.department_name = (point.departmentId + '- ' + department.description) : null
              })
            }
          })        
        })
        this.sortedItems = newVal
      },
      deep: true,
      immediate: true
    },
    created() {
      this.findRoutes()
      this.findPoints()
      this.findDepartments()
      this.find()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findRoutes: 'routes/find',
        findPoints: 'points/find',
        findDepartments : 'departments/find'
      }),
    //   async getOptions() {
    //     await this.findRoutes()
    //     if (this.filters.filter(obj => obj.slug === 'id').length === 0) {
    //       let options = []
    //       // para cada item no getter, criar um objeto dentro da array 'options', contendo uma key e uma label cada.
    //       // Ex.: key: 1, label: 'Usuário App'
    //       for (let route in this.routes) {
    //         options.push(
    //           Object.assign({}, {
    //             key: this.routes[route].id,
    //             label: this.routes[route].description
    //           })
    //         )
    //       }
    //       this.filters.push({
    //         slug: 'pointIni_id',
    //         label: 'Coordenada Inicial',
    //         type: 'select',
    //         autocomplete: true,
    //         placeholder: 'Coordenada Inicial',
    //         options: options
    //       })
    //       this.filters.push({
    //         slug: 'pointFin_id',
    //         label: 'Coordenada Final',
    //         type: 'select',
    //         autocomplete: true,
    //         placeholder: 'Coordenada Final',
    //         options: options
    //       })
    //     }
    //     else {
    //       return false
    //     }
    //   }
    }
  }
</script>
