<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initial-items.sync="sortedItems" :models.sync="models" :departments.sync="departments" :loading="loading" />
  </div>
</template>

<script>
const MODULE_NAME = 'robots'
const crudStore = crudHelper(MODULE_NAME)

import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

import ListTable from '../components/ListTable'

const fields = [
  { label: 'ID', slug: 'id' },
  { label: 'Modelo', slug: 'modelo_id' },
  { label: 'Departamento', slug: 'department_name' },
  { label: 'Serial', slug: 'serialNumber' },
  { label: 'Hora Manutenção', slug: 'inspectionHours' },
  { label: 'Horas Online', slug: 'horimetre' }
]

const filters = []

export default {
  components: { ListTable },
  data() {
    return {
      fields: fields,
      filters: filters,
      sortedItems: [],
      paginationOptions: {}
    }
  },
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      items: 'robots/items',
      models: 'models/items',
      departments: 'departments/items'
    })
  },
  watch: {
    'items'(newVal) {
      newVal.forEach(robot => {
        robot.department_name = this.getDepartmentName(robot.departmentId)
      })
      this.sortedItems = newVal
    },
    deep: true,
    immediate: true
  },
  created() {
    this.find()
    this.findModels()
    this.findDepartments()
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findModels: 'models/find',
      findDepartments: 'departments/find'
    }),
    getDepartmentName(id) {
      const result = '' // guardar resultados traduzidos
      for (const department in this.departments) {
        if (this.departments[department].id == id) {
          return this.departments[department].description
        }
      }
    }
  }
}
</script>
