<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initialItems.sync="sortedItems" :departments.sync="departments" :loading="loading" />
  </div>
</template>

<script>

  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'
  import ListTable from '../components/ListTable'
  import { mapActions, mapGetters } from 'vuex'

  const MODULE_NAME = 'points'
  const crudStore = crudHelper(MODULE_NAME)

  const fields = [
    // { label: 'Departamento_ID', slug: 'departmentId' },
    { label: 'Departamento', slug: 'department_name' },
    { label: 'Nome', slug: 'description' },
    { label: 'Coordenada X', slug: 'coordinateX' },
    { label: 'Coordenada Y', slug: 'coordinateY' },
    { label: 'Coordenada Z', slug: 'coordinateZ' },
    { label: 'Ângulo', slug: 'angularVariation' },
  ]

  const filters = []

  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
      }
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        items: 'points/items',
        departments: 'departments/items'
      })
    },
    watch: {
      // 'items' (newVal) {
      //   this.sortedItems = newVal
      // },
      'items' (newVal) {
        newVal.forEach(point => {
            point.department_name = this.getDepartmentName(point.departmentId)
        });
        this.sortedItems = newVal
      },      
      deep: true,
      immediate: true
    },
    created() {
      this.find()
      this.findDepartments()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findDepartments: 'departments/find'
      }),
      getDepartmentName(id) {
        let result = '' // guardar resultados traduzidos
        for (let department in this.departments) {
          if (this.departments[department].id == id) {
            return this.departments[department].description
          }
        }
      }
    }
  }
</script>
