<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
        <div class="createPost-main-container">
          <el-row :gutter="24">
            <el-col :span="24">
              <el-row :gutter="24">
                <el-col :span="6">
                  <el-form-item label="Medida" prop="measureId">
                    <el-select
                      v-model="item.measureId"
                      placeholder="Determine a unidade de medida"
                      clearable
                      automatic-dropdown
                      filterable
                    >
                      <el-option
                        v-for="measure in measures"
                        :key="measure.id"
                        :label="measure.description"
                        :value="measure.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="6">
                  <el-form-item label="Descrição" prop="description">
                    <el-input
                      v-model="item.description"
                      maxlength="45"
                      placeholder="Descrição do tipo do sensor..."
                    />
                  </el-form-item>
                </el-col>

                <el-col :span="6">
                  <el-form-item label="Precisao" >
                    <el-input-number
                      :step="1"
                      :min="0"
                      :max="100"
                      step-strictly
                      v-model="precisao"
                      placeholder="4 ou 5 ou N casas decimais"
                    />
                  </el-form-item>
                  </el-col>
                
                <el-col :span="8">
                  <el-form-item label="Valor Mínimo" prop="measureMinimumAlert">
                    <el-input-number 
                      :step="1" 
                      :precision="precisao ? precisao : 2"
                      v-model="item.measureMinimumAlert"
                      placeholder="Ex.: -100.2"
                      :span="12"
                    />
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-form-item label="Valor Máximo" prop="measureMaximumAlert">
                    <el-input-number 
                      :step="1" 
                      :precision="precisao ? precisao : 2"
                      v-model="item.measureMaximumAlert"
                      placeholder="Ex.: 1000.5"
                    />
                  </el-form-item>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </div>
      </el-col>

      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        :disabled="!item.description || !item.measureMaximumAlert || !item.measureMinimumAlert || !item.measureId"
        type="success"
        @click="submit"
      >
        Salvar
      </el-button>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import crudHelper from "@/modules/_common/store/crudHelper";
import crudMixin from "@/modules/_common/mixins/crud";

const MODULE_NAME = "types";
const crudStore = crudHelper(MODULE_NAME);

export default {
  name: "Detail",
  data: () => ({
    MODULE_NAME,    
    precisao: "",
    item: {
      measureId: "",
      description: "",
      measureMinimumAlert: "",
      measureMaximumAlert: ""      
    },
    rules: {
      description: [
        { required: true, message: "Campo obrigatório.", trigger: "blur" }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      measures: "measures/items"
    })
  },
  created() {
    this.findMeasures();
    if (this.$route.params.id) {
      const id = this.$route.params.id;
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .catch(alert);
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findMeasures: "measures/find"
    })
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import "~@/styles/detail.scss";
</style>
