<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
        <div class="createPost-main-container">
          <el-row :gutter="24">
            <el-col :span="18">
              <el-row :gutter="24">
                <el-col :span="12">
                  <el-form-item label="Rota" prop="routeId">
                    <el-select
                      v-model="item.routeId"
                      placeholder="Rota"
                      clearable
                      automatic-dropdown
                    >
                      <el-option
                        v-for="rota in routes"
                        :key="rota.id"
                        :label="rota.description"
                        :value="rota.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="Ponto" prop="pointId">
                    <el-select
                      v-model="item.pointId"
                      placeholder="Ponto da rota"
                      clearable
                      automatic-dropdown
                    >
                      <el-option
                        v-for="ponto in points"
                        :key="ponto.id"
                        :label="ponto.description"
                        :value="ponto.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="24">
                <el-col :span="6" style="padding-left: 0;">
                  <el-form-item label="Sequência" prop="sequence">
                    <el-input-number
                      :step="1"
                      :min="0"
                      :precision="0"
                      v-model="item.sequence"
                      placeholder="Sequência do ponto na rota"
                    />
                  </el-form-item>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </div>
      </el-col>

      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        :disabled="!item.pointId || !item.routeId || !item.sequence"
        style="margin-left: 10px;"
        type="success"
        @click="submit"
      >
        Salvar
      </el-button>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

const MODULE_NAME = 'paths'
const crudStore = crudHelper(MODULE_NAME)

export default {
  name: 'Detail',
  data: () => ({
    MODULE_NAME,
    item: {
      routeId: '',
      pointId: '',
      sequence: ''
    },
    rules: {
      routeId: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ],
      pointId: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ],
      sequence: [
        { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      points: 'points/items',
      routes: 'routes/items',
      departments: 'departments/items'
    }),
    pontoPersonalizadoSelect: () => {
      return this.points.forEach(point => {
        this.departments.forEach(department => {
          point.departmentId === department.id
            ? (point.department_name = 'Depto ' + point.departmentId + '- ' + department.description)
            : null
        })
      })
    }
  },
  created() {
    this.findDepartments()
    this.findRoutes()
    this.findPoints()
    if (this.$route.params.id) {
      const id = this.$route.params.id
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .catch(alert)
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findPoints: 'points/find',
      findRoutes: 'routes/find',
      findDepartments: 'departments/find'
    })
  }
}
</script>

<style rel='stylesheet/scss' lang='scss' scoped>
@import '~@/styles/mixin.scss';
@import '~@/styles/detail.scss';
</style>
