<template>
  <div @click="$emit('click')">
    <el-card :body-style="{ padding: '32px' }" style="position: relative;">
      <!-- <img src="~examples/assets/images/hamburger.png" class="image"> -->
      <span style="position: absolute; right: 32px; color: grey; font-size: 40px;">{{ exo.id }}</span>
      <img class="image" src="@/assets/exo/exo-blue.png" alt="exo">
      <!-- <div style="padding: 14px;">
        <span>Yummy hamburger</span>
        <div class="bottom clearfix">
          <time class="time">{{ currentDate }}</time>
        </div>
      </div> -->
      <!-- <el-button type="text" class="button" @click="teste">Info</el-button> -->
    </el-card>
  </div>
</template>
<script>
export default {
  props: {
    exo: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
<style>
  .time {
    font-size: 13px;
    color: #999;
  }
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }
  .button {
    padding: 0;
    float: right;
  }
  .image {
    width: 100%;
    display: block;
  }
  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  .clearfix:after {
      clear: both
  }
</style>
