<template>
  <div id="app">
    <el-row>
      <el-col :span="1">
        <div v-if="$_isMobile()">
          <Header user="User"/>
        </div>
        <div v-else>
          <HeaderDesktop user="User"/>
        </div>
      </el-col>
      <el-col :span="20" :push="4">
        <router-view/>
      </el-col>
    </el-row>
  </div>
  <!-- <div id="app">
    <div class="menu-wrapper">
      <div v-if="$_isMobile()">
        <Header user="User"/>
      </div>
      <div v-else>
        <HeaderDesktop user="User"/>
      </div>
    </div>
    <el-row type="flex" class="row-bg">
      <el-col :span="6"><div class="grid-content bg-purple">
      <h1 type="flex" justify="start">teste</h1>
      </div></el-col>
    </el-row>
  </div> -->
</template>

<script>
import Header from './components/Header'
import HeaderDesktop from './components/HeaderDesktop'
// import ResizeMixin from './layout/mixin/ResizeHandler'
// const { body } = document
// const WIDTH = 992 // refer to Bootstrap's responsive design

export default {
  name: 'app',
  components: {
    Header,
    HeaderDesktop
  },
  // mixins: [ResizeMixin],
  // mounted () {
  //   const isMobile = this.$_isMobile()
  // },
  methods: {
    // $_isMobile () {
    //   const rect = body.getBoundingClientRect()
    //   return rect.width - 1 < WIDTH
    // }
    $_isMobile () {
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) || screen.width <= 760) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}

body {margin:0;}

/* .menu-wrapper{
  min-width: 200px;
  max-width: 280px;
} */
.el-drawer__body {
  background-color: #545c64
}

</style>
