<template>
  <div class="login-container">
   
  </div>
</template>

<script>
// import { isvalidUsername } from '@/utils/validate'
// import { mapActions } from 'vuex'

export default {
  name: 'Login',
  data () {
    const validateUsername = (rule, value, callback) => {
      if (this.loginForm.username) {
        callback()
      } else {
        callback(new Error('Erro na digitação do seu email.'))
      }
    }
    const validatePass = (rule, value, callback) => {
      if (value.length < 1) {
        callback(new Error('Erro na digitação da sua senha.'))
      } else {
        callback()
      }
    }
    return {
      loginForm: {
        username: '',
        password: ''
      },
      loginRules: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        password: [{ required: true, trigger: 'blur', validator: validatePass }]
      },
      loading: false,
      pwdType: 'password',
      redirect: undefined
    }
  },
  watch: {
    $route: {
      handler: function (route) {
        this.redirect = route.query && route.query.redirect
      },
      immediate: true
    }
  },
  methods: {
    // ...mapActions({
    //   signInWithEmailAndPassword: 'auth/signInWithEmailAndPassword',
    //   signInWithGoogle: 'auth/signInWithGoogle'
    // }),
    showPwd () {
      if (this.pwdType === 'password') {
        this.pwdType = ''
      } else {
        this.pwdType = 'password'
      }
    },
    // handleGoogleLogin() {
    //   this.$auth
    //     .signInWithGoogle()
    //     .then(user => this.$router.push({ path: this.redirect || '/' }))
    //     .catch(alert)
    // },
    handleLogin () {
      // this.$auth.signInWithEmailAndPassword({ email: 'asdasd', password: '' })
      // this.$auth.actions.signInWithEmailAndPassword({ email: 'asd', password: '' })
      // this.signInWithEmailAndPassword({ email: 'asd', password: ''})
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('Login', this.loginForm)
            .then(() => {
              this.loading = false
              this.$router.push({ path: this.redirect || '/' })
            })
            .catch(() => {
              this.loading = false
            })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
  /* reset element-ui css */

  .login-container {
    .el-input {
      display: inline-block;
      height: 47px;
      width: 85%;
      input {
        background: #f7f7f7;
        border: 0px;
        -webkit-appearance: none;
        border-radius: 5px;
        padding: .8rem .4rem .8rem 2rem;
        color: #333333;
        height: 47px;
      }
    }
    .el-form-item {
      border: none;
      background: #f7f7f7;
      border-radius: 5px;
      color: #454545;
    }
  }
</style>

<style rel="stylesheet/scss" lang="scss" scoped>
  $bg:#2d3a4b;
  $dark_gray:#889aa4;
  $light_gray:#eee;

  *::placeholder {
    color: #333333;
    opacity: 1;
  }

  .login-container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #b7b7b7, #d0d0d0);

    .login-form {
      position: absolute;
      left: 0;
      right: 0;
      width: 520px;
      max-width: 100%;
      padding: 35px 35px 15px 35px;
      margin: 120px auto;
    }
    .login-logo {
      margin: 0 auto 2rem auto;
      display: block;
      max-width: 300px;
      height: auto;
    }
    .tips {
      font-size: 14px;
      color: #fff;
      margin-bottom: 10px;
      span {
        &:first-of-type {
          margin-right: 16px;
        }
      }
    }
    .svg-container {
      padding: 6px 5px 6px 15px;
      color: #333333;
      vertical-align: middle;
      width: 30px;
      display: inline-block;
    }
    .title {
      font-size: 26px;
      font-weight: 400;
      color: #333333;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
      opacity: 1;
    }
    .show-pwd {
      position: absolute;
      right: 10px;
      top: 7px;
      font-size: 16px;
      color: #333333;
      cursor: pointer;
      user-select: none;
    }
  }
</style>
